.app-header{
    background:  #263238;
    height: 36px;

    color: white;
}
<<<<<<< HEAD
.cardStyle {
    width: 380px;
    padding: 32px 32px 32px 32px;
    margin: auto;
    text-align: left;
}
.marginTop {
    margin-top: 16px;
}
.formControl {
    width: 340px;
}
.btn-pointer{
    cursor: pointer;
}
.red{
    color:red;
}
.dispNone{
    display : none;
}
=======

.card-container{
    position: absolute;
    left:30%;
    
    right:auto;
    
    width:30%;
}

.btn-pointer{
    cursor: pointer;
}

.red{
    color:red;
    font-weight: bold;
}

.dispNone{
    display : none;
}

>>>>>>> 99efbdec3238e587c5c4192d17e9a3a724b49521
.dispBlock{
    display: block;
}